PORT

JWT_SECRET_KEY
REFRESH_JWT_SECRET_KEY
EXPIRED_ACCESS_TOKEN
EXPIRED_REFRESH_TOKEN

HASHED_ALGORITM

SMS_IR_API_KEY
SMS_IR_API_KEY_SAND_BOX
SMS_IR_OTP_TEMPLATE_ID
SMS_IR_OTP_TEMPLATE_ID_SANDBOX
SMS_IR_VERIFY_BASE_URL

GOOGLE_API_KEY
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET

AWS_BUCKET_NAME
AWS_BUCKET_ENDPOINT_URL
AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY
AWS_REGION

PROD_POSTGRES_PASSWORD
PROD_POSTGRES_HOST
PROD_POSTGRES_PORT
PROD_POSTGRES_USER
PROD_POSTGRES_DB

CORS_ORIGIN
CORS_ORIGIN_METHOD
CORS_ORIGIN_ALLOWED_HEADER
CREDENTIALS
OPTION_SUCCESS_STATUS

PG_HERO_DATABASE_URL